h1 {
  text-align: center;
}




h4{

    color: white;
    font-family: 'Tiro Devanagari Hindi', serif;
    text-align: center;
}
h5{
    font-family: 'Tiro Devanagari Hindi', serif;
    text-align: center;
}
h6{

    color: white;
    font-family: 'Tiro Devanagari Hindi', serif;
    text-align: center;
}



